*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Vypne floatovani*/
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

/**** reusable ****/
.row{
    width: 1140px;
    margin: 0px auto;
}

 /**** header ****/
header{
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("assets/pizza.jpg");
    background-size: cover;
    height: 100vh;
}
#logo img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 2%;
    left: 10%;
}
nav ul{
    float: right;
    margin-top: 40px;
}
nav ul li {
    display: inline-block;
    color: #fff;
    margin-left:10px;
    margin-right: 10px; 
}
nav ul li a:link,
nav ul li a:visited {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
      
}
nav ul li a:hover,
nav ul li a:active{
    transition: border-bottom 1s;
    border-bottom: 1px solid #135c19;
}
.header-text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.header-text h1{
    color: #fff;
    font-size: 47px;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 3px;
}
.btn{
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    border: 1px solid rgb(158, 106, 9);
    border-radius: 10px;
    padding: 5px 10px;
    letter-spacing: 1px;
    margin-top:20px;
}
.btn-full:link,
.btn-full:visited {
    background: rgb(51, 197, 6);
}
.btn-full:hover,
.btn-full:active{
    background: linear-gradient(90deg,rgb(47, 255, 5),rgb(255, 255, 255),rgb(255, 0, 0));
    border: 1px solid rgb(158, 106, 9);
}

.btn-empty:link,
.btn-empty:visited{
    margin-left: 10px;
    background: rgb(216, 203, 19);
}

.btn-empty:hover,
.btn-empty:active{
    background: linear-gradient(90deg,rgb(47, 255, 5),rgb(255, 255, 255),rgb(255, 0, 0));
    border: 1px solid rgb(158, 106, 9);
}
 /**** header ****/

/***** About us ****/
.heading-main h2{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    
}
.heading-main h2:after {
    content:"";
    display:block;
    width: 150px;
    border-bottom: 20px solid #135c19;
    margin: 0px auto;
}
.pizza-example img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 6px 10px black;

}
main{
    background:linear-gradient(90deg,rgba(29, 168, 1, 0.5),rgba(168, 153, 153, 0.5),rgba(151, 31, 31, 0.5));
}