*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Vypne floatovani*/
.clearfix {zoom:1}
.clearfix:after{
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;

}

/**** reusable ****/
.row{
    width: 1140px;
    margin: 0px auto;
}

 /**** header ****/
header{
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("assets/pizza.jpg");
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
.nav-background{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    border-bottom: 2px solid rgba(139, 136, 136, 0.5);
}
#logo img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 2%;
    left: 10%;
}
nav ul{
    float: right;
    margin-top: 7px;
    position: fixed;
    margin-left: 21%;
    z-index: 100;
}
nav ul li {
    display: inline-block;
    color: #fff;
    margin-left:10px;
    margin-right: 10px; 
}
nav ul li a:link,
nav ul li a:visited {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
      
}
nav ul li a:hover,
nav ul li a:active{
    transition: border-bottom 1s;
    border-bottom: 1px solid #135c19;
}
.header-text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.header-text h1{
    color: #fff;
    font-size: 47px;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-left: 10px;
}
.btn{
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    border: 1px solid rgb(158, 106, 9);
    border-radius: 10px;
    padding: 5px 10px;
    letter-spacing: 1px;
    margin-top:20px;
    
}
.btn-full:link,
.btn-full:visited {
    background: rgb(51, 197, 6);
    margin-left: 10px;
}
.btn-full:hover,
.btn-full:active{
    background: linear-gradient(90deg,rgb(47, 255, 5),rgb(255, 255, 255),rgb(255, 0, 0));
    border: 1px solid rgb(158, 106, 9);
}

.btn-empty:link,
.btn-empty:visited{
    margin-left: 10px;
    background: rgb(216, 203, 19);
}

.btn-empty:hover,
.btn-empty:active{
    background: linear-gradient(90deg,rgb(47, 255, 5),rgb(255, 255, 255),rgb(255, 0, 0));
    border: 1px solid rgb(158, 106, 9);
}
/**** main *****/
main{
    background:linear-gradient(90deg,rgba(29, 168, 1, 0.5),rgba(168, 153, 153, 0.5),rgba(151, 31, 31, 0.5));
}
 /**** header ****/
 .heading-main h2{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 20px;
    
}
.heading-main h2:after {
    content:"";
    display:block;
    width: 150px;
    border-bottom: 20px solid #135c19;
    margin: 0px auto;
}
/***** About us ****/
.pizza-example img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 6px 10px black;

}

/****** our pizza ****/
.pizza-info img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 6px 10px black;
}
.text-pizza{
    margin-bottom: 20px;
    margin-top: 20px;
} 
.text-pizza div{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
    padding: 12.5px;
    float: left;
}
.text-pizza p{
    margin-left: 60px;
    font-size: 20px;
}

/***** References ******/
.reference{
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(assets/pizza5.jpg);
    background-attachment: fixed;
}
.reference h2{
    color: #fff;
    padding-top:50px ;
}
.reference h2:after{
    border-bottom: 2px solid #fff;
}
.one-reference{
    color: #fff;
    font-size: 20px;
}
.one-reference p{
    font-style: italic;    
    margin-left: 20px;
    margin-right: 20px;
}
.photo-name {
    margin-top: 20px ;
    margin-bottom: 60px;
    
}
.photo-name p{
    padding: 12.5px;
    margin-left: 60px;
    font-style: normal;
}
.photo-name img{
    width: 50px;
    border-radius: 50%;
    float: left;
}
/**** photo gallery *****/
.gallery-nadpis{
    padding-top: 10px;
}
.photo-segment li {
    list-style-type: none;
    background-color: #000;
    overflow: hidden;
    height: 300px;
    
    
}
.photo-segment img{
    width: 100%;
    height: 300px;
    opacity: 0.5;
    transform: scale(1.15);
    
    
}
.photo-segment img:hover{
    transition: transform 0.5s, opacity 0.5s;
    transform: scale(1);
    opacity: 1;
}
/***** Kontakt *****/

.formular{
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(assets/pizza4.jpg);
    background-attachment: fixed;
    
}
.formular h2{
    color:white;
    padding-top:40px ;
    padding-bottom: 20px;
    font-size: 40px;
}
.contact-form{
    max-width: 100%;
    text-align: center;
    
    
}
.contact-form input{
    width: 20%;
    margin: 5px 0px;
    padding: 7px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    font-family: Arial;
    font-size: 20px;
    margin-bottom: 15px;
    width: 50%;
    text-align: center;
    
}
.contact-form textarea{
    width: 20%;
    margin: 5px 0px;
    padding: 7px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    font-family: Arial;
    font-size: 20px;
    margin-bottom: 15px;
    width: 50%;
    text-align: center;
}
.contact-form input[type="submit"]{
    background-color: rgb(184, 156, 30);
    color: white;
    font-size: 20px
    
    
}
.contact-form input[type="submit"]:hover{
    background-color: rgb(221, 181, 5);
    color: whitesmoke;
    transition:background-color 0.5s;
}
/**** Footer ******/
.footer-page{
    background:linear-gradient(90deg,rgba(29, 168, 1, 0.5),rgba(168, 153, 153, 0.5),rgba(151, 31, 31, 0.5));
    color: #fff;
    max-width: 100%;
}
.footer-page  .row{
    max-width: 100%;
}
.social{
    text-align: center;
    margin: 10px 0;
    
}
.social p{
    display: inline;
    margin-right: 20px;
    

}

.social p a:link,
.social p a:visited{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.social p a:hover,
.social p a:active{
    color: black;
}
.footer-text{
    text-align: center;
    margin: 10px 0;
}
